@using PandoLogic.Models
@model PandoLogic.Models.Goal

@{
    ViewBag.Title = "Goal Details";
    ViewBag.TitleMinor = "";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Dashboard", Url.Action("Index","Home"), "fa-dashboard"),
        new Crumb("Goals", Url.Action("Index","Goals"), "fa-check"),
        new Crumb("Goal Details", Url.Action("Details", "Goals", new { id = Model.Id})),
        new Crumb("Archive Goal")
    });
}

<div class="row">
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Archive Goal</h3>
            </div>
            <div class="box-body">
                <div>
                    <span class="lead text-muted">
                        Are You Sure You Want to Archive This Goal?
                    </span>
                    <p class="text-muted">
                        Mark this goal as completed, along with all tasks associated with it
                    </p>
                </div>
                @Html.Partial("_GoalDetails", Model)
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Archive Goal" class="btn btn-danger" />
                        @Html.ActionLink("Cancel", "Details", new { id = Model.Id })
                    </div>
                }
            </div>
        </div>
    </div>
</div>