@using PandoLogic.Models
@model IEnumerable<PandoLogic.Models.Goal>

@{
    ViewBag.Title = "Goals";
    ViewBag.TitleMinor = "";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Dashboard", Url.Action("Index","Home"), "fa-dashboard"),
        new Crumb("Goals", "", "fa-check")
    });
}

@Html.Action("WidgetBox", "Goals")
<div class="row">
    <div class="col-md-6">
        <!-- general form elements -->
        @Html.Partial("_GoalBox", Model)
    </div>
</div>