@using PandoLogic.Models
@model IEnumerable<PandoLogic.Models.Goal>

@{
    ViewBag.Title = "Goals";
}

<div class="row">
    <div class="col-md-6">
        <!-- general form elements -->
        @Html.Partial("_GoalBox", Model)
    </div>
</div>