@using PandoLogic.Hubs

@{
    // Breadcrumb
    ViewBag.Title = "Dashboard";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Dashboard", "", "fa-dashboard")
    });
}

@Html.Action("WidgetBox", "Goals")
<div class="row">
    <div class="col-md-6">
        @Html.Action("Widget", "Activities")
    </div>
    <div class="col-md-6">
        @Html.Action("Widget", "WorkItems")
        @Html.Action("Widget", "Goals")
        @{
            int? companyId = ViewBag.CurrentUserSelectedCompanyId != null ? ViewBag.CurrentUserSelectedCompanyId : null;
        }
        @if (companyId.HasValue)
        {
            Html.RenderAction("Team", "Companies", new { id = companyId.Value });
        }
    </div>
</div>