@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        @Html.Action("Widget", "Activities")
    </div>
    <div class="col-md-6">
        @Html.Action("Widget", "Goals")
    </div>
</div>