@model PandoLogic.Models.Strategy

<div>
    @for (float i = 0f; i < 5.0f; i += 1.0f)
    {
        if (Model.Rating >= i + 1.0f)
        {
            <i class="fa fa-star"></i>
        }
        else if (Model.Rating >= i + 0.5f)
        {
            <i class="fa fa-star-half-o"></i>
        }
        else
        {
            <i class="fa fa-star-o"></i>
        }
    }
    <span class="text-muted">(@Model.Ratings.Count Ratings)</span>
</div>