.bg-pinstripe {
    background-image: url("/img/pinstripe.png");
}

.circle {
    width: 2em;
    height: 2em;
    font-size: 0.7em;
    line-height: 2em;
    text-align: center;
    border-radius: 50%;
}

.done td {
    text-decoration: line-through;
}

.sort-button {
    cursor: pointer;
}

.user-rating i {
    cursor: pointer;
}