

.bg-pinstripe {
    background-image: url("/img/pinstripe.png");
}

.circle {
    width: 2em;
    height: 2em;
    font-size: 0.7em;
    line-height: 2em;
    text-align: center;
    border-radius: 50%;
}

.done td {
    text-decoration: line-through;
}

.form-box {
    margin: 1em auto 0;
}

.sort-button {
    cursor: pointer;
}

.user-rating i {
    cursor: pointer;
}

.logo {

    font-size: 20px !important;
    font-family: 'Varela Round', sans-serif;
    text-transform: none !important;
}

.centered-logo {
    font-size: 3em !important;
    font-family: 'Varela Round', sans-serif;
    text-transform: none;
    text-align: center;
    color: lightgray;
}

.bottom-banner {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 8em;
    z-index: 0;
}

div {
    z-index: 1;
}

body > .header .logo {
    font-size: 28px;
}

/* Fix the timeline position, evidently the _Timeline partial wraps it slightly wrong */
.timeline:before {
    left: 30px;
}

.company-chat-toggle {
    cursor: pointer;
}