@model IEnumerable<PandoLogic.Models.WorkItem>

@{
    ViewBag.Title = "Tasks";
    ViewBag.TitleMinor = "";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Dashboard", Url.Action("Index","Home"), "fa-dashboard"),
        new Crumb("Tasks")
    });
}

<div class="row">
    <div class="col-md-6">
        <!-- general form elements -->
        @Html.Partial("_TaskBox", Model)
    </div>
</div>