@model PandoLogic.Hubs.ChatInfo

@{
}

<div class="nav-tabs-custom chat-box" data-chat-room-id="@Model.ChatRoomId">
    <ul class="nav nav-tabs pull-right">
        <li class="active"><a href="#tab_1" data-toggle="tab">Chat</a></li>
        <li><a href="#tab_2" data-toggle="tab">Users</a></li>
        <li class="pull-left header">
            <i class="fa fa-comments-o"></i>
            @Model.Title
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <div class="box-body chat slimscroll chat-messages">
            </div>
            <div class="input-group">
                <input class="form-control chat-input" placeholder="Message..." />
                <div class="input-group-btn">
                    <button class="btn btn-success chat-button">
                        <i class="fa fa-plus"></i>
                        Submit
                    </button>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab_2">
            <div class="box-body chat chat-users slimscroll">
            </div>
        </div>
    </div>
</div>