@using PandoLogic.Hubs

@if (Html.IsInCompanyContext())
{
    string title = string.Format("{0} Team Chat", ViewBag.CurrentUserSelectedCompanyName);

    <div class="row company-chat" style="display:none">

        <div class="col-md-12">
            @Html.Partial("_Chat", new ChatSessionInfo { ChatRoomId = string.Format("Company-{0}", @ViewBag.CurrentUserSelectedCompanyId), Title = title })
        </div>
    </div>
}
