@model PandoLogic.Models.ApplicationUser

@{
    ViewBag.Title = "Create Profile";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="box-header">
    <i class="fa  fa-user-plus"></i>
    <h2 class="box-title">@ViewBag.Title</h2>
</div>
<div class="box-body">
    @using (Html.BeginForm("Create", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="">
            @Html.ValidationSummary(true, "", new { @class = "" })

            @Html.Partial("_ApplicationUserProfile", Model)
        </div>

        <div class="footer">
            <button type="submit" class="btn btn-primary btn-block">Save &amp; Continue</button>
        </div>
    }
</div>