@model PandoLogic.Models.ApplicationUser

@{
    ViewBag.Title = "Create Profile";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="form-box" id="login-box">
    <div class="header">@ViewBag.Title</div>

    @using (Html.BeginForm("Create", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="body bg-gray">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.Partial("_ApplicationUserProfile", Model)
        </div>

        <div class="footer">
            <button type="submit" class="btn bg-olive btn-block">Save &amp; Continue</button>
        </div>
    }
</div>