@{
    ViewBag.Title = "Password Reset Confirmation";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<div class="box-body">
    <h1>@ViewBag.Title</h1>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>
