@{
    ViewBag.Title = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="box-header">
    <i class="fa fa-user"></i>
    <h2 class="box-title">Reset Password Confirmation</h2>
</div>
<div class="box-body">
    <div>
        <p>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>
